@import "../../layout/theme.scss";

#contact-information {
  font-size:20px;
  color:white;

  .address{
    em {
      font-size: 16px;
    }
    @media #{$md-tablet-media} {
      text-align: right;
    }
  }
  a {
    color: #3877d0;
  }
  div.title-section .separator {
    margin-bottom: 20px;
  }
  .address-col {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .contact-col {
    flex-direction: column;
    justify-content: center;
    display: flex;
    line-height:40px
  }
}