@import "../../layout/theme.scss";

#contact-information {
  font-size:20px;
  color:white;
  text-align: center;
  .address{
    em {
      font-size: 16px;
    }

  }
  a {
    color: $text-color;
  }
  div.title-section .separator {
    margin-bottom: 20px;
  }
  .address-col {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .contact-col {
    flex-direction: column;
    justify-content: center;
    display: flex;
    line-height:40px
  }
}