@import "../../layout/theme.scss";



.members {

}

.member{
    .text-block {
        padding:20px;
        font-size:16px;
        .qualifications {
            padding-bottom:16px;
        }
        .name, .title{
            font-size: 24px;
        }
        .phone a {
            margin: 0 12px;
            font-weight: bold;
        }
        .social {
            font-size:24px;
        }
    }
    margin: 0 auto;
    display: block;
    max-width: 486px;
    background-color: $md-secondary-color;
    color: $text-color;
    text-align:center;
margin-bottom: 48px;
}