@import "../../layout/theme.scss";



.members {

}

.member{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 486px;
    background-color: $md-forth-color;
    color: $text-color;
    text-align:center;
    height:100%;
    .text-block {
        flex-grow: 1;
        padding:20px;
        font-size:16px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .qualifications {
           
        }
        .name, .title{
            font-size: 24px;
        }
        .title {
            padding-top:16px;
        }
        .phone a {
            margin: 0 12px;
            font-weight: bold;
        }
        .social {
            font-size:24px;
        }
        .phone, .email {
            margin:4px 0;
        }
    }

}