@import "../../layout/theme.scss";



.md-toolbar {
    padding-left:30px;

    .links {
        display:none;
        @media #{$md-mobile-media} {
            & {
                display:none;
            }
        }
        @media #{$md-tablet-media} {
            & {
                display: block;
            }
        }
        a, a:visited {
            font-size: 30px;
            padding:0 8px;
            color: $text-color;
        }
    }
    .nav-menu, .logo{
        vertical-align:top;
    }
}

.main-nav-menu {
        width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    background-color:$bg;
     overflow-y: auto;

    .nav-links, .contact-menu {
        flex-direction: column;
        justify-content: center;
        display: flex;
    }
    .nav-links {
        padding-left:48px;
        text-align: right;

        a{
            color: $text-color;
            font-size:36px;
        }
    }
    .contact-menu > div{
        margin-left:28px;
    }
    .address{
        margin-top:20px;
        margin-bottom:20px;
    }

    .contact-row, .address-row{
        a {
            color: $md-secondary-color;
        }
        font-size: 18px;
        color: $text-color;
        em{
            font-size: 14px;
        }
    }
}

