@import "../../layout/theme.scss";



.md-toolbar {
    padding-left:30px;

    .links {
        display:none;
        @media #{$md-mobile-media} {
            & {
                display:none;
            }
        }
        @media #{$md-tablet-media} {
            & {
                display: block;
            }
        }
        a, a:visited {
            font-size: 30px;
            padding:0 8px;
            color: $text-color;
        }
    }
    .nav-menu, .logo{
        vertical-align:top;
    }
}

.main-nav-menu {
        width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    background: black;
    .nav-links {
        text-align: right;

        a{
            color: $text-color;
            font-size:36px;
            display:block;
        }
    }

    .contact-row, .address-row{
        a {
            color: $md-secondary-color;
        }
        font-size: 24px;
        color: $text-color;
    }
}