@import "../../layout/theme.scss";

.features {

    .md-cell{
        margin:0px;
    }
     @media #{$md-tablet-media} {
           text-align:left;
        .md-cell{
            margin:8px;
        }
    }

.feature-item{
    color: $text-color;
      display: flex;
      justify-content: center;
      flex-direction: row;

    .feature-text {
      position:relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
         p{
              font-size:18px;
        }
    }
    .feature-box-wrapper{
           text-align: center;
           z-index:1;

            display: flex;
            flex-direction: column;
            justify-content: center;
    }
    .feature-text{
        h2{
                margin-top: 14px;
        }
        @media #{$md-tablet-media} {
            text-align: left;
            h2{
                margin-top:0;
            }
        }
    }
    .feature-box{
        padding: 28px;
        background-color: $md-secondary-color;
        border-radius: 8px;
        font-size:48px;
        width: 166px;
        text-align: center;
        display: inline-block;
    }
}
.feature-text:before {
    content: '';
    position: absolute;
    background-color: black;
    border-radius: 8px;
    left: -100px;
    right: -100px;
        top: -8px;
        bottom: -8px;


}
margin-bottom:100px;
}