@import "../../layout/theme.scss";

.reviews{
    background-color: $md-secondary-text-color;
}

a.google-review, .google-review-summary {
    background-color: $background-quartery;
    border-radius: 4px;
    margin: 3em;
    padding: 1em;
    color:$md-primary-color;
    &:visited, &:active, &:focus, &:target {
        color:$md-primary-color;
    }

    .google-review-image {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .google-review-big-text {
        line-height: 42px;

        font-size: 20px;
        padding-left: 12px;
    }

    .google-review-rating {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .google-review-rating-number {
            font-size: 18px;
            padding-right: 8px;
        }

        .google-review-count {
            color: #969696;
            padding-left: 12px;
        }

    }
}
.google-review {
    display: block;
    .google-review-top-row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        img {
            height: 50px;
            width:50px
        }
        .google-review-details {
            display: flex;
            flex-direction: column;
            margin-left:12px;
            .google-review-title{
                font-weight: bold;
            }
        }
    }
    .google-review-text {
        margin: 12px 0;
        display: block;
        line-height: 1.8em;
    }
}