@import "../../layout/theme.scss";


.summary {
      width: 100%;
  min-height:100vh;
  max-height: 500px;
  background-size: contain !important;
  background-position: 110% 50%;
    display: flex;
  justify-content: center;
  flex-direction: column;

}

