@import "../../layout/theme.scss";


.summary, .summary::after, .summary::before {
      width: 100%;
  min-height:100vh;
  max-height: 500px;
    display: flex;
  justify-content: center;
  flex-direction: column;

}

