@import "../../layout/theme.scss";

.tiger{
      height: 100vh;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
      display: flex;
  justify-content: center;
  flex-direction: column;
  .md-grid{
    width:100%;
  }
}
