@import "../../layout/theme.scss";

.contact-row {
    margin-left:60px;
    a {
        color: $md-secondary-color;
        font-size: 24px;
    }
    .fa {
        margin-right:24px;
    }
}

#contact {
    margin-bottom: 60px;
}