@import "../../layout/theme.scss";


#contact {
    margin-bottom: 60px;
    .contact-row {

        a {
            color: $text-color;
            font-size: 16px;

        }
        @media #{$md-tablet-media} {
             //margin-left:60px;
            a {
                 font-size: 24px;
                text-align: right;
            }
        }
        .fa {
           // margin-right:24px;
        }
    }
    p {
        font-size:20px;
    }
    .get-in-touch {
        text-align: center;
        margin-bottom: 40px;
    }
}