@import "../../layout/theme.scss";


#contact {
    margin-bottom: 60px;
    .contact-row {
        margin-left:60px;
        a {
            color: $md-secondary-color;
            font-size: 24px;
        }
        .fa {
           // margin-right:24px;
        }
    }
    p {
        font-size:20px;
    }
    .get-in-touch {
        text-align: center;
        margin-bottom: 40px;
    }
}