@import "../../layout/theme.scss";

.footer {
  background-color: $background-tertiary;
  padding: 30px 5px 0 5px;
  color: $text-color;
   text-align: center;
   .copyright {
        padding:0 0 8px 0;
        color: #a9a6a6; // maybe make variable
   }
   .links a, .nav-links a{
        padding: 0px 4px;
   }
   .links {
        a:visited{
           color: $text-color;
        }
   }
   .nav-links{
     padding:0 0 16px 0;
display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

       a {
          color:$text-color;
         }
        a:visited{
            color: $text-color;
        }

   }
}

