@import './theme.scss';


div .mobile-fix {
    @media (max-width: 360px - 1px) {
        padding-left: 0;
        padding-right: 0;
    }
}



div.title-section{
    &.right {
        text-align:right;
    }
    .line{
        color: $text-color;
              line-height: 70px;
            font-size: 60px;
        em{
            color: $md-secondary-color;
            font-style:normal;
        }
      @media #{$md-tablet-media} {

      }
    }
    .separator {
        height: 7px;
        background-color: $md-secondary-color;
        display: inline-block;
        border-radius: 8px;
        margin-top: 16px;
        margin-bottom: 48px;
        width:25%;
    }



}

.button-row {
    text-align:center;
    width:100%;
}

html{
    font-display: auto;
}

html,
.md-background--primary,
.main-container,
.darker-background {
    background-color: $bg;
    box-shadow: none;

}

a:link {
    color: $text-color;
    text-decoration: none;
}

@font-face{
    font-family: 'Roboto';
    font-display:swap;
}

@font-face{
    font-family: 'Material Icons';
    font-display:swap;
}

.big-para {
    font-size:22px;
    line-height:33px;
}
