@import './theme.scss';


div .mobile-fix {
    @media (max-width: 360px - 1px) {
        padding-left: 0;
        padding-right: 0;
    }
}



div.title-section{
    &.right {
        text-align:right;
    }
    .line{
        color: $text-color;
              line-height: 50px;
            font-size: 40px;
        em{
            color: $md-secondary-color;
            font-style:normal;
        }



      @media #{$md-desktop-media} {
              line-height: 70px;
            font-size: 60px;
      }
    }
    .separator {
        height: 7px;
        background-color: $md-secondary-color;
        display: inline-block;
        border-radius: 8px;
        margin-top: 16px;
        margin-bottom: 48px;
        width:25%;
    }
}


div.sub-title-section{

    .line{
   color: $md-secondary-color;
              line-height: 40px;
            font-size: 30px;

    }
    .separator {
        height: 7px;
        background-color: $md-secondary-color;
        display: inline-block;
        border-radius: 8px;
        margin-top: 0px;
        margin-bottom: 48px;
        width:25%;
    }
}


.button-row {
    text-align:center;
    width:100%;
}

html{
    font-display: auto;
}

html,
.md-background--primary,
.main-container,
.darker-background {
    background-color: $bg;
    box-shadow: none;

}
.main-container{
margin-top:$md-toolbar-height;
}
.md-toolbar{
    background-color: $md-primary-color;
}

a:link {
    color: $text-color;
    text-decoration: none;
}

@font-face{
    font-family: 'Roboto';
    font-display:swap;
}

@font-face{
    font-family: 'Material Icons';
    font-display:swap;
}

.big-para {
    font-size:22px;
    line-height:33px;
}
.mid-para {
     font-size:18px;
    line-height:26px;
}
.small-para {
     font-size:16px;
    line-height:20px;
    color: $text-color;
    a{
        color: $md-secondary-color;
    }
}
.small-list{
    li{
        padding-bottom:8px;
    }
}
.emph-para {
     font-size:18px;
    line-height:26px;
    color: $md-secondary-color;
    font-weight: bold;
}
.bottom-pad{
    padding-bottom:30px;
}
.services-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
        overflow-x: hidden;
    h1 {
        color: $md-secondary-color;
    }
    a {
        color: $md-secondary-color;
    }

    &.services-section-img{
       text-align: center;
        img {
            border-radius: 35px;

        }
    }
}

.fee-table{
    margin-bottom:36px;
    .table-title{
        text-align: center;
    }
}

.md-table-header th{
    color: $md-secondary-color;
    font-weight: bold;
    font-size:16px;
}


.doc{
    h1, h2 {
        text-align: center;
        color:$md-secondary-color;
    }
    .doc-footer{
        em{
            font-weight: bold;
            font-style: normal;
        }
            font-size:12px;
    }
    color:$text-color;
    a{
         color:$md-secondary-color;
    }
    .md-cell > div > ol > li {
        margin-bottom:18px;
        &  ul, & ol {
            margin-bottom: 18px;
        }
    }

}
