@import '~react-md/src/scss/react-md';

$md-light-theme: false;
$md-colors-warn-md: false;

$bg: $md-black-base;
$md-primary-color: $bg;
$md-secondary-color: #3877d0 ;//#3575CF; //rgb(65, 128, 210); //#4a90e2;
$md-tertiary-color: $md-grey-300;
$md-forth-color: #424242;
$text-color: $md-grey-100;
$md-secondary-text-color: $text-color;
$md-toolbar-height: 100px;
$md-primary-opacity: 1;
$md-secondary-opacity: 1;
//$md-primary-hover-opacity: 1;
//$md-secondary-hover-opacity: 1;

$md-btn-text-font-size: 18px !default;
$md-btn-mobile-font-size: $md-btn-text-font-size;
$md-btn-desktop-font-size: $md-btn-text-font-size;
$md-btn-text-border-radius: 8px !default;
$md-btn-text-height: 42px;

$background-tertiary:#424242;
$background-quartery: $text-color;