@import '~react-md/src/scss/react-md';

$md-light-theme: false;

$bg: $md-black-base;
$md-primary-color: $bg;
$md-secondary-color: #4a90e2;
$md-tertiary-color: $md-grey-300;
$text-color: $md-grey-100;
$md-secondary-text-color: $text-color;
$md-toolbar-height: 100px;
$md-primary-opacity: 1;
$md-secondary-opacity: 1;
 $md-primary-hover-opacity: 1;
  $md-secondary-hover-opacity: 1;

$md-btn-text-font-size: 18px !default;
$md-btn-mobile-font-size: $md-btn-text-font-size;
$md-btn-desktop-font-size: $md-btn-text-font-size;
$md-btn-text-border-radius: 8px !default;
$md-btn-text-height: 36px;

html,
.md-background--primary,
.main-container,
.darker-background {
    background-color: $bg;
    box-shadow: none;

}

a:link {
    color: $text-color;
    text-decoration: none;
}
